{% extends "base.html" %}


{% block body_class %}class="page"{% endblock %}


{% block content %}

<div id="content-main">

  <h1>About Common Ground</h1>

  <p>Work began to develop Common Ground in 1978, building upon the vision of
  the Westminster Unitarian Church. After several years in preparation, the
  site broke ground on Feb. 13, 1982 and a year later, all 46 units were
  complete.</p>

  <p>Like other co-ops, the members here volunteer their time in order to
  ensure the day-to-day functioning of the strata.</p>

  <p>At Common Ground, we have certain expectations of our members. At a
  minimum, we expect that members will attend monthly meetings (10 per year,
  held on the last Wednesday of the month), and that they will be active in one
  of our committees. We also hold spring and fall clean ups, which are
  mandatory for all members.</p>

  <p>The benefit of being an active member at Common Ground is that it means
  you are not just renting, but are part of a community. This is one of the
  primary advantages of co-op living.</p>

  <p>One of our big celebrations here at Common Ground is Canada Day, which
  often involves bouncy castles for kids, a day-long list of activities and
  races, a barbecue at day’s end, and a trivia quiz about Canadiana. We
  are also abuzz with activity at Hallowe’en (best decorated carport
  anyone?), Christmas and Easter.

  {% load staticfiles %}
  <p>If you feel you’d like to be part of this type of living, please fill out
  and submit an <a href="{% static "coop/files/cg_application.pdf" %}"
  >application</a>.</p>

  <h2>About co-op housing in general</h2>

  <p>There are many kinds of co-operatives: food co-ops, co-op daycares, credit
  unions, retail co-ops, worker co-ops and housing co-ops. Any group of people
  can form a co-operative. The members own the co-operative and the
  co-operative provides a service they need. Housing co-operatives provide
  housing.

  <p>Since the 1930s, Canadians have been building and living in housing
  co-ops. The people who live in the housing are the co-op’s members. They
  elect, from among themselves, a board of directors to manage the business of
  the co-op.

  <p>Each member has one vote. Members work together to keep their housing
  well-managed and affordable.

  <p>Over the years, federal and provincial governments have funded various
  programs to help Canadians create non-profit housing co-ops. The co-ops
  developed under these programs provide good quality, affordable housing.
  There are more than 255 non-profit housing co-ops comprising 14,300 units in
  British Columbia.

  <p>As a co-op member, you have security of tenure. This means that you can
  live in your home for as long as you wish if you follow the rules of the
  co-op and pay your housing charge (rent). As a co-op member, you have a say
  in decisions that affect your home. You and your neighbours own your homes
  co-operatively. Members form a community that works together to manage the
  co-op. Co-op communities are made up of all kinds of people&mdash;people with
  different backgrounds, incomes and special needs. These diverse and
  vibrant communities are the unique strength of the co-op housing movement.

  <p>You can learn more about co-op housing through the <a
  href="http://www.chf.bc.ca/">Co-op Housing Federation of B.C.</a> or the <a
  href="http://www.chfc.ca/">Co-operative Housing Federation of Canada</a>.</p>

</div>

{% endblock %}

