{% extends "base.html" %}


{% block body_class %}class="page"{% endblock %}


{% block content %}

<div id="content-main">

  <h1>A wee bit about Ocean Park</h1>

  <h2>Pre-colonial</h2>

  <p>Ocean Park was part of the territory of the Semiahmoo people, one of a
  group of tribes called the Straits Salish, a division of the Coast Salish.</p>

  <p>The Semiahmoo people used this place for spiritual renewal and named the
  area “Kwomais” which literally means “place of vision”, because of its high
  bluffs and unobstructed views to the ocean and islands. Kwomais Point is
  marked on many early navigation maps and has long been used as a lookout
  point. For protection against the raids of the Yukulta people, the Semiahmoo
  built a fort in Ocean Park possibly between 1820 and 1830. The fort fell into
  disrepair in colonial times. Today, the site is a subdivision called Indian
  Fort Drive near the west end of 20th avenue.</p>

  <h2>Colonial and modern</h2>

  <p>In 1886, early pioneer Ben Stevenson acquired 350 acres (140 ha) and
  built a large home overlooking Semiahmoo Bay.</p>

  <p>In the early 1900s, 136 acres (55 ha) were acquired in order to provide
  the members of the Methodist church a place where they could vacation.
  Promotional materials named the area “Ocean Park”, and in 1910 the church
  offered its first summer camp. In 1925 the Methodist Church joined with The
  United Church of Canada, and the camp was administered by British Columbia
  Conference of the church. Over the years bits of the property were sold for
  housing. In 2007 the last remaining 13 acres (5.3 ha) of the site were sold
  to the City of Surrey as parkland. Camp Kwomais was the second oldest camp
  accredited with BC Camping and the oldest camp using its original
  campsite.</p>

  <p>In 1912, campers built a small shed beside the tracks of the
  recently-completed railroad. The Great Northern Railway reluctantly accepted
  it as a stop, thereby giving easier access to vacation spots in Ocean Park
  for residents of  Vancouver and New Westminster.</p>

  <p>In 1921, Ocean Park opened its first post office, which was featured in
  “Ripley’s Believe it or Not" as “the world’s smallest post office.” The 6
  feet (1.8 m)-by-6-feet building was later expanded to 6 feet (1.8
  m)-by-12-feet.</p>

  <p>In 1925, the Ocean Park Community Hall opened after a community
  fundraising campaign. The Hall continues to be the focus for the community
  and has been home to hundreds of social gatherings and special events for
  thousands over generations. The Hall’s 75th anniversary in 2000 resulted in
  a special edition of the Ocean Parker, a volunteer community newspaper. The
  Hall is operated by the Ocean Park Community Association.</p>

  <p>In the 1950s, Ocean Park’s first residential telephone was installed at
  the house of firefighter Derek Uren.</p>

  <p>In 1958, the volunteer fire hall was built by the community, seven years
  after a house fire killed a woman and her two sons.</p>

  <p>In 1985, Fun Fun Park was created by community volunteers as the first
  “Volunteers in Parks” in BC. 12-year-old Jessica Tuttle was awarded 10
  silver dollars for her winning entry in the naming contest.</p>

  <p>In 2002, the community association’s Ocean Park Area Livability Study
  identified three main community issues: 1) traffic concerns 2) lack of
  policing and vandalism 3) lack of community recreation opportunities,
  especially for youth and seniors.</p>

  ~Source: Wikipedia

</div>

{% endblock %}

