{% extends "base.html" %}


{% block body_class %}class="page"{% endblock %}


{% block content %}

<div id="content-main">

  <h1>Amenities and transportation</h1>

  <p>Ocean Park is served by two elementary schools: Ocean Cliff Elementary
  School and Laronde Elementary School, which offers a French Immersion
  program. St. Mark’s Anglican Church opened in 1999. The <a
  href="http://www.surreylibraries.ca/">Surrey Public Library</a>
  operates a branch in Ocean Park.</p>


  <h2>Parks &amp; trails</h2>

  <p>There are two waterfront walks in Ocean Park. 101 Steps Park, at the foot
  of 128th Street near Camp Kwomais, has stairs down to waterfront access and
  nature trails. Ocean Park Shoreline Walk is a tidal-beach walk.</p>


  <h2>Public Transit</h2>

  <p>Ocean Park has morning and afternoon commuter bus service to Vancouver
  operated by TransLink on route 352 Ocean Park/Vancouver via the South Surrey
  Park &amp; Ride.</p>


  <h2>Car</h2>

  <p>Ocean Park has quick access to the U.S. border, as well as several routes
  to Vancouver. It is about a 15 minute drive to Highway 99 and about a 25
  minute drive to the TransCanada Highway. Depending on traffic, it’s about a
  40 minute drive to Vancouver.</p>

</div>

{% endblock %}


