{% load markdown_deux_tags %}
{% load staticfiles %}
{% load coop_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "coop/css/reset.css" %}" />

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="{% static "coop/css/vendor/font-awesome.min.css" %}"> -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    <!-- LOCAL BOOTSTRATP NOT WORKING TODO -->
    <!-- <link rel="stylesheet" href="{% static "coop/css/vendor/bootstrap.min.css" %}" /> -->

    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />

    <link rel="stylesheet" href="{% static "coop/css/base.css" %}" />
    <link rel='shortcut icon' href="{% static "coop/images/logo-196.png" %}"
        type='image/x-icon' />

    <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <!-- <script src="{% static "coop/js/vendor/jquery-1.11.1.min.js" %}"></script> -->
    <script src="https://code.jquery.com/ui/1.12.0-rc.2/jquery-ui.min.js" integrity="sha256-55Jz3pBCF8z9jBO1qQ7cIf0L+neuPTD1u7Ytzrp2dqo=" crossorigin="anonymous"></script>

    <title>{% block title %}{{ app_settings.coop_name }}{% endblock %}</title>
</head>

<body {% block body_class %}{% endblock %}>

    <div class="container-fluid">

        <div class="row">

            <div class="col-sm-12">

            <div id="header">

            {% block header %}
            <div id="branding">
                <a href="{% url "coop:index" %}">
                    <h1 id="site-name">{{ app_settings.coop_name }}</h1>
                </a>
            </div>

            <div id="user-tools">
            {% if user.is_authenticated %}
                Welcome, <a href="{% url 'coop:member_by_full_name' user.last_name|addstr:'_'|addstr:user.first_name %}"
                    >{{ user.first_name }} {{ user.last_name }}</a></td>
                <!-- <a href="{% url "coop:logout" %}">Change password</a>
                    / -->
                <a href="{% url "coop:logout" %}">Log out</a>
            {% else %}
                <a href="{% url "coop:login" %}">Log in</a>
            {% endif %}
            </div>
            {% endblock %}

            </div>

            </div>

        </div>

        {% block breadcrumbs %}
        {% endblock %}

        <div class="row">

            <div id="leftbar" class="col-xs-12 col-sm-3">

                {% block leftbar %}

                <img id="picture" src="{% static "coop/images/coop-500.jpg" %}" />
                <div class="module">
                    <h2 class="pages-header header-button">Pages</h2>
                    <ul class="pages-menu">
                    {% for url_title, title in coop_static_pages %}
                        {% if url_title == current_page %}
                        <li class='current-page'>{{ title }}</li>
                        {% else %}
                        <li><a href="{% url "coop:page_by_url_title" url_title %}">{{ title }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>

                {% if user.is_authenticated %}
                <div class="module">
                    <h2 class="members-only-header header-button">Members only</h2>
                    <ul class="members-only-menu">
                    {% for url_, title in coop_dynamic_pages %}
                        {% if url_ == current_page %}
                        <li class='current-page'>{{ title }}</li>
                        {% else %}
                        <li><a href="{% url "coop:"|add:url_ %}">{{ title }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
                {% endif %}

                {% if user.is_staff %}
                <div class="module">
                    <h2 class="administrators-only-header header-button">Administrators</h2>
                    <ul class="administrators-only-menu">
                        <li><a href="{% url "admin:index" %}">Administrator Site</a></li>
                    </ul>
                </div>
                {% endif %}

                {% endblock %}

            </div>


            <div id="content" class="col-xs-12 col-sm-6">
                {% block content %}{% endblock %}
            </div>

            <div id="rightbar" class="col-xs-12 col-sm-3">
                {% block rightbar %}
                <div class="module">
                    <h2>News</h2>
                    <div class="content">
                    {{ app_settings.news | markdown }}
                    </div>
                </div>
                {% endblock %}
            </div>

        </div>

        <div id="footer">
            {% block footer %}{% endblock %}
        </div>

    </div>

    <script type="text/javascript">
        $(function () {

            // When the page has finished loading, autofocus on the username
            // field.
            $('input[type=text]').first().focus();

            // Make the leftbar headers toggle the visibility of their menu
            // items.
            $('h2.pages-header').click(function() {
                $('ul.pages-menu').slideToggle();
            });
            $('h2.members-only-header').click(function() {
                $('ul.members-only-menu').slideToggle();
            });
            $('h2.administrators-only-header').click(function() {
                $('ul.administrators-only-menu').slideToggle();
            });

            // Create the jQueryUI dialog for the Markdown help dialog.
            $('.markdown-help-container').first().dialog({
                autoOpen: false,
                modal: false,
                closeText: '',
                width: '25%',
                title: 'Markdown help',
                position: { my: "right top", at: "right top", of: $(window)}
            });

            // Open the Markdown help dialog.
            // https://daringfireball.net/projects/markdown/
            $('a.markdown-help').click(function() {
                $('.markdown-help-container').first().dialog('open');
            });

        });
    </script>

</body>

</html>

