{% extends "base.html" %}


{% block body_class %}class="page"{% endblock %}


{% block content %}

<div id="content-main">

  <h1>Contact Us</h1>

  <p>Common Ground Co-op is located near the centre of quiet Ocean Park.</p>

  <p>You may contact us via <a
    href="mailto:info@cghousing.org?subject=Regarding%20Membership%20Applications"
    >email</a> or by mail:</p>

  <div class="address">

    <p>c/o Membership</p>

    <p>Common Ground Co-op</p>

    <p>1707 130 Street</p>

    <p>Surrey, B.C.</p>

    <p>V4A 4A2</p>

  </div>

  <br />


  <iframe width="425" height="350" frameborder="0" scrolling="no"
    marginheight="0" marginwidth="0"
    src="http://www.openstreetmap.org/export/embed.html?bbox=-122.86903381347656%2C49.03069336336908%2C-122.85626649856567%2C49.03563127490349&amp;layer=mapnik&amp;marker=49.03316238040217%2C-122.8626501560211"
    style="border: 1px solid black"></iframe>
  <br/><small><a
    href="http://www.openstreetmap.org/?mlat=49.03316&amp;mlon=-122.86265#map=17/49.03316/-122.86265&amp;layers=N"
    >View Larger Map</a></small>

</div>

{% endblock %}



