{% extends "base.html" %}

{% load humanize %}

{% block body_class %}class="file_new"{% endblock %}

{% block breadcrumbs %}
    <div class="row">
        <div class="col-sm-12">
            <div class="breadcrumbs">
                <a href="{% url 'coop:files' %}">Files</a>
                &gt;
                new
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
  <h1>Upload a new File</h1>

  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  <form action="{% url 'coop:file_save' %}"
    method="post"
    class="default-form"
    enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_ul }}
    <input type="submit" value="Upload" />
  </form>

{% endblock %}

{% block rightbar %}{% endblock %}

