<h1>Create a new Forum</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'coop:forum_save' %}" method="post">
    {% csrf_token %}
    <ul>
        <li>
            <label>Forum name</label>
            <input type="text" name="name" />
        </li>
        <li>
            <label>Forum description</label>
            <textarea name="description"></textarea>
        </li>
        <li>
            <input type="submit" value="Vote" />
        </li>
    </ul>
</form>
