{% extends "base.html" %}

{% load humanize %}
{% load coop_extras %}

{% block body_class %}class="member_new"{% endblock %}

{% block breadcrumbs %}
    <div class="row">
        <div class="col-sm-12">
            <div class="breadcrumbs">
                <a href="{% url 'coop:members' %}">Members</a>
                &gt;
                <a href="{% url 'coop:member_by_full_name' member.last_name|addstr:'_'|addstr:member.first_name %}"
                   >{{ member.first_name }} {{ member.last_name }}</a>
                &gt;
                change password
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
  <h1>Change Password of Member {{ member.first_name }} {{ member.last_name }}</h1>

  {% if error_message %}<p class="error"><strong>{{ error_message }}</strong></p>{% endif %}

  <form action="{% url 'coop:member_change_password' member.id %}"
    method="post"
    class="default-form">
    {% csrf_token %}
    <ul>
      <li>
        <div class='old-password-validation'
          style='display:none; color: red; padding: 0.5em 0;'></div>
        <label for='old_password'>Current password:</label>
        <input type='password' name='old_password'
          placeholder='Enter your current password here' />
      </li>
      <li>
        <div class='new-password-validation'
          style='display:none; color: red; padding: 0.5em 0;'></div>
        <label for='new_password'>New password:</label>
        <input type='password' name='new_password'
          placeholder='Enter the new password you want to have' />
      </li>
      <li>
        <div class='new-password-validation'
          style='display:none; color: red; padding: 0.5em 0;'></div>
        <label for='new_password_confirm'>New password confirm:</label>
        <input type='password' name='new_password_confirm'
          placeholder='Re-enter the new password you want to have' />
      </li>
    </ul>
    <input type="hidden" name="id" value="{{ member.id }}" />
    <input type="submit" value="Change Password" />
  </form>

{% endblock %}

{% block rightbar %}{% endblock %}

