{% extends "base.html" %}

{% load humanize %}
{% load markdown_deux_tags %}

{% block body_class %}class="pages"{% endblock %}

{% block breadcrumbs %}
    <div class="row">
        <div class="col-sm-12">
            <div class="breadcrumbs">
                Pages
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
  <h1>Pages</h1>

  <p>Here are listed all of the pages that have been created on this web site.
  Pages are private by default, which means that only co-op members can see
  them. If you make a page public, then anybody will be able to see it.</p>

  <a class="action-link"
     href="{% url 'coop:page_new'%}"
     title="Create a new page"
     ><i class="fa fa-fw fa-plus"></i>New</a>

  {% if pages %}
  <table class="pages-table">
    <thead>
      <tr>
        <th class="title">Title</th>
        <th class="preview">Preview</th>
        <th class="access">Access</th>
        <th class="editable">Editable</th>
      </tr>
    </thead>
    <tbody>
    {% for page in pages %}
      <tr class="{% cycle 'even-row' 'odd-row' %}">
        <td><a href="{% url 'coop:page_by_url_title' page.url_title %}"
               >{{ page.title }}</a></td>
        <td>{{ page.content | truncatechars:40 }}</td>
        {% if page.public %}
          <td title="This page is public and can be viewed by anybody."
              ><i class="error fa fa-fw fa-unlock"></i></td>
        {% else %}
          <td title="This page is not public. It can only be viewed by members."
              ><i class="ok fa fa-fw fa-lock"></i></td>
        {% endif %}
        {% if page.editable %}
          <td title="This page can be edited by any co-op member."
              ><i class="fa fa-fw fa-unlock"></i></td>
        {% else %}
          <td title="This page can only be edited by the user who created it and administrators."
              ><i class="fa fa-fw fa-lock"></i></td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>There are no pages.</p>
  {% endif %}
{% endblock %}

{% block rightbar %}{% endblock %}

