{% extends "base.html" %}

{% load humanize %}

{% block body_class %}class="participation_requirement_new"{% endblock %}

{% block breadcrumbs %}
    <div class="row">
        <div class="col-sm-12">
            <div class="breadcrumbs">
                <a href="{% url 'coop:participation_requirements' %}"
                  >Participation Requirements</a>
                &gt;
                <a href="{% url 'coop:participation_requirement' participation_requirement.id %}"
                  >Participation Requirement {{ participation_requirement.name }}</a>
                &gt;
                edit
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
  <h1>Edit Participation Requirement {{ participation_requirement.name }}</h1>

  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  <form action="{% url 'coop:participation_requirement_save' %}"
    method="post"
    class="default-form">
    {% csrf_token %}
    <ul>{{ form.as_ul }}</ul>
    <input type="hidden" name="id" value="{{ participation_requirement.id }}" />
    <input type="submit" value="Save" />
  </form>

  <script type="text/javascript">
      $(function () {

          // Logic does the following: when a fulfiller is checked, that
          // fulfiller is unchecked as a shirker and unchecked as an excusee.
          $('input[name=fulfillers]').change(function(i, e) {
              if (this.checked) {
                  var val = $(this).val();
                  $('input[name=shirkers][value=' + val + '],input[name=excusees][value=' + val + ']')
                      .attr('checked', false);
              }
          });

          $('input[name=shirkers]').change(function(i, e) {
              if (this.checked) {
                  var val = $(this).val();
                  $('input[name=fulfillers][value=' + val + '],input[name=excusees][value=' + val + ']')
                      .attr('checked', false);
              }
          });

          $('input[name=excusees]').change(function(i, e) {
              if (this.checked) {
                  var val = $(this).val();
                  $('input[name=shirkers][value=' + val + '],input[name=fulfillers][value=' + val + ']')
                      .attr('checked', false);
              }
          });

      });
  </script>

{% endblock %}

{% block rightbar %}{% endblock %}




