{% extends "base.html" %}

{% load markdown_deux_tags %}
{% load humanize %}
{% load coop_extras %}

{% block body_class %}class="person"{% endblock %}

{% block breadcrumbs %}
    <div class="row">
        <div class="col-sm-12">
            <div class="breadcrumbs">
                <a href="{% url 'coop:members' %}">Members</a>
                &gt;
                {{ member.first_name}} {{ member.last_name }}
            </div>
        </div>
    </div>
{% endblock %}


{% block content %}

<h1>{{ member.first_name}} {{ member.last_name }}</h1>

{% if user.is_authenticated %}
    {% if user.is_superuser or user.id == member.user.id %}
    <p>
        <a href="{% url 'coop:member_edit' member.id %}">
            <i class="fa fa-pencil"></i>&nbsp;Edit</a>
        &nbsp;
        <a href="{% url 'coop:member_change_password' member.id %}">
            <i class="fa fa-key"></i>&nbsp;Change password</a>
    </p>
    {% endif %}
{% endif %}

<table class="member-table">

  <tr>
    <td class="label-cell">Email</td>
    <td><a href="mailto:{{ member.email }}">{{ member.email }}</a></td>
  </tr>

  <tr>
    <td class="label-cell">Phone</td>
    <td>{{ member.phone_numbers_string }}</td>
  </tr>

  <tr>
    <td class="label-cell">Address</td>
    <td><a href="{% url 'coop:unit_by_block_unit_nos' member.unit.block_number|addstr:'-'|addstr:member.unit.unit_number %}"
        >#{{ member.unit.unit_number}}, {{ member.unit.block_number }}</a></td>
  </tr>

  <tr>
    <td class="label-cell">Committees</td>
    <td>{{ member.formatted_committees | safe }}</td>
  </tr>

  {% if member.formatted_children %}
  <tr>
    <td class="label-cell">Children</td>
    <td>{{ member.formatted_children }}</td>
  </tr>
  {% endif %}

  {% if user.person.id == member.id or user.is_superuser %}
  <tr>
    <td class="label-cell">Participation</td>
    <td><a href="{% url 'coop:member_participation_record' member.id %}"
           >My Participation Record</a></td>
  </tr>
  {% endif %}

</table>

<div class="markdown">{{ member.page_content | markdown }}</div>

{% endblock %}

