{% extends "base.html" %}

{% load humanize %}
{% load coop_extras %}
{% load markdown_deux_tags %}

{% block body_class %}class="thread"{% endblock %}

{% block breadcrumbs %}
    <div class="row">
        <div class="col-sm-12">
            <div class="breadcrumbs">
                <a href="{% url 'coop:forums' %}" title="View all forums">Forums</a>
                &gt;
                <a href="{% url 'coop:forum_by_url_name' post.thread.forum.url_name %}"
                    title="View the {{ post.thread.forum.name }} forum"
                    >{{ post.thread.forum.name }}</a>
                &gt;
                <a href="{% url 'coop:thread_view_by_url_subject' post.thread.forum.url_name post.thread.url_subject %}"
                   title="View the thread that this post belongs to"
                   >{{ post.thread.subject }}</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

  <h1>Editing Post {{ post.id }}</h1>

  <form class="post-edit default-form"
    action="{% url 'coop:thread' post.thread.forum.url_name post.thread.id %}"
    method="post">
    {% csrf_token %}
    {{ form.as_ul }}
    <input type="hidden" name="id" value="{{ post.id}}" />
    <input type="submit" value="Update" />
  </form>

{% endblock %}

{% block rightbar %}{% endblock %}

