{% extends "base.html" %}

{% load humanize %}

{% block body_class %}class="thread_new"{% endblock %}

{% block breadcrumbs %}
    <div class="row">
        <div class="col-sm-12">
            <div class="breadcrumbs">
                <a href="{% url 'coop:forums' %}">Forums</a>
                &gt;
                <a href="{% url 'coop:forum' pk=forum.id %}"
                    >{{forum.name}}</a>
                &gt;
                new
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
  <h1>Create a new Thread</h1>

  {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  <form action="{% url 'coop:thread_save' url_name=forum.url_name %}"
    method="post" class="default-form">
    {% csrf_token %}
    {{ form.as_ul }}
    <input type="submit" value="Create" />
  </form>

{% endblock %}

{% block rightbar %}{% endblock %}

