{% extends "base.html" %}

{% load humanize %}
{% load coop_extras %}
{% load markdown_deux_tags %}

{% block body_class %}class="thread"{% endblock %}

{% block breadcrumbs %}
    <div class="row">
        <div class="col-sm-12">
            <div class="breadcrumbs">
                <a href="{% url 'coop:forums' %}" title="View all forums">Forums</a>
                &gt;
                <a href="{% url 'coop:forum_by_url_name' thread.forum.url_name %}"
                    title="View the {{ thread.forum.name }} forum"
                    >{{ thread.forum.name }}</a>
                &gt;
                {{ thread.subject }}
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

    <h1>{{ thread.subject }} Thread</h1>

    <table class="posts">
        <tbody>

        {% if thread.posts.count %}
            {% for post in thread.posts.all %}
            <tr>
                <td class='post'>
                    <a name="{{ post.id }}"></a>
                    <table class='post'>
                        <tbody>

                            <tr>
                                <td rowspan="2" class="poster">
                                    {% if post.creator %}
                                        {{ post.creator.first_name }}
                                        {{ post.creator.last_name }}
                                    {% else %}
                                        the system
                                    {% endif %}
                                </td>

                                <td class="post-meta">
                                    <div class="post-meta-left">
                                        <div class="post-meta-top">
                                            <div class="post-subject"
                                                >{{ post.subject|default:'' }}</div>
                                            <div class="post-reply-to">
                                                {% if post.reply_to %}
                                                    [<a href="#{{ post.reply_to.id }}"
                                                        title="Jump to the post that this post is a reply to."
                                                        >{{ post.reply_to.subject|truncatechars:20 }}
                                                            by
                                                            {{ post.reply_to.creator|coop_user_name }}</a>]
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="post-meta-bottom">
                                            <div class="post-datetime"
                                                 title="when this post was made"
                                            >{{ post.datetime_created|date:'N j, Y, P' }}
                                            ({{ post.datetime_created|naturaltime }})</div>
                                        </div>
                                    </div>
                                    <div class="post-meta-right">
                                        {% if user.is_superuser or user.id == post.creator.id %}
                                        <a href="{% url 'coop:post_edit' pk=post.id %}"
                                            class="post-action-link"
                                            title="Edit this post">
                                            <i class="fa fa-fw fa-pencil"></i>
                                            <span>Edit</span>
                                        </a>
                                        {% endif %}
                                        <a class="jump-to-reply post-action-link"
                                            data-post-id="{{ post.id }}"
                                            data-post-subject="{{ post.subject }}"
                                            href="#reply-to-form"
                                            title="Reply to this post">
                                            <i class="fa fa-fw fa-reply"></i>
                                            <span>Reply</span>
                                        </a>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="post-post markdown">{{ post.post | markdown }}</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            {% endfor %}
        {% endif %}

            <tr>
                <td class="post-quick-reply">
                    <table class="post-quick-reply">
                        <tbody>
                            <tr>
                                <td>
                                {% if thread.posts.all %}
                                    <h2>Reply:</h2>
                                {% else %}
                                    <h2>First Post:</h2>
                                {% endif %}
                                    <a name="reply-to-form"></a>

                                    <form class="post-quick-reply default-form"
                                        action="{% url 'coop:thread' url_name=thread.forum.url_name pk=thread.id %}"
                                        method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="thread"
                                            value="{{ thread.id }}" />
                                        {{ post_form.as_ul }}
                                        <input type="submit" value="Create Post" />
                                    </form>

                                    <div class='markdown-help-container'>
                                        <div class='markdown-help-inner-container'>
                                        {{ markdown_help_text | safe }}
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>

    </tbody>
  </table>

  <script>
    // When a post's "Reply" link is clicked, this function brings us to the
    // reply form, with the reply-to select changed appropriately and the
    // textarea focused.
    $('a.jump-to-reply').click(function(e){
      e.preventDefault();
      var postId = $(this).data('post-id');
      var postSubject = $(this).data('post-subject');
      $('select[name=reply_to] option').each(function(){
        if (postId == $(this).val()) {
          $('select[name=reply_to]').val(postId);
        }
      });
      $('input[name=subject]').val(postSubject);
      $('textarea[name=post]').first().focus();
    });
  </script>

{% endblock %}

{% block rightbar %}{% endblock %}

